*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    line-height: 1.7;
    padding-top: 80px;
    background-color: #1a1a1a;
}

/*html,body {*/
/*    scroll-behavior: smooth;*/
/*}*/

.video{
    padding-block: 8rem;
text-align: center;
}

.video h4{
    color: white;
    font-size: 2vw;
}

.video video{
    width: 800px;
    border-radius: 2rem;
}


header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4rem;
    z-index: 10;
    box-shadow: 0 2px 5px white;
}

ul{
    list-style: none;
}
header nav > ul a{
    text-decoration: none;
    color: white;
}


header nav > ul{
    display: flex;
    gap: 3rem;
}

header nav > ul li ul{
    position: absolute;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
}

header nav > ul li ul a{
    color: black;
}

header nav > ul :hover ul {
    display: grid;
}

 header nav > ul ul{
    display: none;
 }

header nav > ul li{
    transition: 200ms;
}

header nav > ul li:hover{
    transform: translateX(5px);
}

.language-switch p span{
    color: white;
    opacity: 70%;
    transition: 300ms;
}

.language-switch p span:hover{
    opacity: 1;
}

.language-switch p span a{
    color: white;
    text-decoration: none;
    background-color: hsl(193, 88%, 68%);
    padding: 1rem;
    border-radius: 5px;
    transition: 200ms;
}
.language-switch p span a:hover{
    padding: 2rem;
}



#footer{
    padding-inline: 4rem;
    padding-block: 50px;
    background-color: #1a1a1a;
    width: 100%;

}

.footer-title{
    color: white;
    text-transform: uppercase;
}

footer:hover .footer-title::before {
    width:150px;
}
.footer-title {
    text-transform: capitalize;
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
}
.footer-title::before {
    transition: 300ms;
    content: "";
    height: 5px;
    width: 100px;
    background: white;
    position: absolute;
    bottom:-7px;
}


.social-media a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

.social-media li{
    display: flex;
    gap: 5px;
    align-items: center;
    transition: 300ms;
}

.social-media li:hover{
    transform: translateX(10px);
}

footer img {
    width: 35px;
    border-radius: 5px;
}

.social-media{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}

.copyright p{
    color: rgb(255,255,255,.3);
    transition: 300ms;
}


.tweets{
    padding-inline: 4rem;
    padding-block: 50px;
}

.tweets > ul{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.tweets > ul li{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 2px 5px black;
}

.tweets > ul li p{
    opacity: 70%;
    transition: 300ms;
}

.tweets > ul li a{
    color: blue;
    text-decoration: none;
}

.tweets > ul li img{
    border-radius: 100%;
}

.tweets > ul li p:hover{
    transform: translateY(5px);
    opacity: 1;
}

.content-title{
    text-align: center;
    margin-bottom: 1rem;
}

.a{
    background-color: hsl(193deg 100% 48%);
}

.title{
    /*background-color: hsl(193deg 100% 68%);*/
    /*background-color: #8BC34A;*/
    background-color: #66d6f5;
    text-align: center;
    padding-inline: 4rem;

}

.title h1 span{
    color: white;
}

.title h2 span{
    color: white;
    opacity: 80%;
    transition: 200ms;
}

.title h2 span:hover{
    opacity: 100%;
}

#featured{

}

#featured ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

#featured ul li img{
    width: 300px;
    border-radius: 2rem;
    cursor: pointer;
    opacity: 50%;
    transition: 300ms;
}

#featured ul li img:hover{
    opacity: 100%;
    box-shadow:0 2px 10px black;
    width:400px
}

.quotes{
    padding-inline: 4rem;
   padding-block: 50px;
    display: flex;
    justify-content: space-between;
}

.quotes blockquote{
    background-color: white;
    width: 500px;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 2px 5px black;
}

.quotes blockquote b{
    cursor: pointer;
}

#id-for-title-1{
    padding-inline:4rem;
    color: white;
    text-transform: capitalize;
    font-size: 1.4vw;
}

#id-for-title-1 a{
    color: #66d6f5;
    text-decoration: none;
}

.content-title{
    color: white;
}

#st-thomas-church p{
    text-align: justify;
    font-size: 1.3vw;
}

#st-thomas-church{
    padding-inline:4rem;
    padding-block: 50px;
    color: white;
    background-color: #66d6f5;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: #3f3f3f;
}

#st-thomas-church img{
    width: 350PX;
    border-radius: 1rem;
}

#id-for-title-3 h3,#id-for-title-3 p{
    padding-inline: 4rem;
    color: white;
    font-size: 1.4vw;
}

table{
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}

table tr,table th,table td{
    padding: 1rem;
    color: white;
}

th{
    text-transform: capitalize;
}

tr:nth-child(even){
background: #66d6f5;
}

table caption{
    color: white;
    margin-bottom: .5rem;
    font-weight: bold;
    font-size: 1.3vw;
}

#diagram{
    text-align: center;
}

#diagram img{
    padding-block: 4rem;
    width: 635px;
}

h3 ~ .figures {
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding-block: 50px;
}
h3 ~ .figures figure {
    width: 100%;
    flex: none;
    position: relative;
    scroll-snap-align: start;
}
h3 ~ .figures figure img {
    width: 100%;
    filter: blur(3px);
}
h3 ~ .figures figure figcaption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bolder;
    background: rgba(0,0,0,.85);
    padding: 1rem;
    border-radius: 1rem;
}


 aside .figures{
    display: flex;
    justify-content: space-between;
    padding-inline: 4rem;
    padding-block: 100px;
    color: white;
}
 aside .figures img{
     width: 250px;
     border-radius: 100%;
     transition: 700ms;
     cursor: pointer;
 }

aside .figures img:hover{
    width: 300px;
    border-radius: 1rem;
}

aside .figures figcaption{
    text-align: center;
    font-size: 1.6vw;
}
aside .figures h4 span{
    font-size: 1.7vw;
    background-color: #1a1a1a;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 2px 15px white;
}


#id-for-title-4 h3 span{
    font-size: 1.7vw;
    background-color: #1a1a1a;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 2px 15px white;
    color: white;
}

#id-for-title-4 h3{
    padding-inline: 4rem;
}

